@import "../_variables.scss";

.size-widget {
  width: 305px;
  padding: 10px;
  border-radius: 5px;
  background-color: $primary-background;
  //width: fit-content;

  user-select: none;
  display: flex;
  flex-direction: column;

  .widget-header {
    color: $primary-gray;
    font-family: $openSans-light;
    font-weight: 500;
    font-size: 17px;
  }
  svg {
    margin: 5px;
    
  }
  .widget-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $openSans-light;
    #percentage {
      color: $white;
      font-weight: 700;
      font-size: 1.2rem;
    }
    #ratio {
      font-size: 0.9rem;
      color: $primary-gray;
    }
  }
}
