
.maininfo {
  margin-bottom: 15px;
}
.bio-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  height: fit-content;
}
.portrait {
  height: 100% !important;
}
.history {
}
.portrait > img {
  width: 400px;

}
.autograph {
  text-align: center;
}
.history > p {
  text-align: justify;
}

@media only screen and (max-width: 1260px) {
  .portrait > img {
    width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  .bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portrait > img {
    width: 350px;
  }
  .bio-text {
    gap: 25px;
  }
}