/*! IMPORTS! */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*! IMPORTS END !*/

/*! GLOBALS !*/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  max-width: 100vw !important;
}
h1 {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
/*
.blurred {
  filter: blur(10px)
}*/

/*Main - includes menu and main conntent (photos etc)*/
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 100px;
  padding: 50px 10vw 70px 10vw;
}
/*! MAIN CONTENT - all pics and text and data are injected here!*/
.main-content {
  grid-area: content;
  width: 100%;
}
/*! Headline is on top of every article, includes .date paragraph !*/
.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.date {
  color: #6e6e6e;
}
.text > p {
  text-align: justify;
}
.hidden {
  display: none;
}
/*! GLOBALS END !*/

/*! GLOBAL MEDIA QUERIES !*/
@media only screen and (max-width: 950px) {
  .main {
    gap: 50px;
  }
}
/*! GLOBAL MEDIA QUERIES END!*/
