/*! IMPORTS! */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*! IMPORTS END !*/

/*! GLOBALS !*/
*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}
a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: #fff;
  font-family:'Roboto', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
/*Main - includes menu and main conntent (photos etc)*/
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "menu content content content"
    "menu content content content"
    "menu content content content";
  padding: 50px 10vw 20px 10vw; 
}
/*! MAIN CONTENT - all pics and text and data are injected here!*/
.main-content {
  grid-area: content;
}
/*! Headline is on top of every article, includes .date paragraph !*/
.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.date {
  color: #6e6e6e;
}
.text > p {
  text-align: justify;
}
/*! GLOBALS END !*/

/*! GLOBAL MEDIA QUERIES !*/
/*! GLOBAL MEDIA QUERIES END!*/