album-item {
  margin: 5px;
  padding: 10px;
  background-color: var(--mainColor);
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
}
.top-actions > input {
  margin: 0px !important;
}
.album-content > h3 {
  margin: 0px;
}
.album-content > p {
  margin: 0;
  color: var(--grayText);
  font-size: 13px;
}
.show {
  width: 100%;
  text-align: center;
}
.show > button > span {
  font-size: 20px;
  color: var(--accent)
}
.show > button {
  width: 95%;
  margin: 10px 0px 5px 0px;
  cursor: pointer;
  background-color: var(--mainLighter);
  border-radius: 5px;
  outline: none;
  border: solid var(--mainLighter) 2px;
}
