album-item {
  margin: 5px;
  padding: 10px;
  background-color: var(--mainColor);
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
}
.top-actions {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
}
.top-actions > #deleteThisAlbum {
  color: white !important;
  border: none !important;
  background-color: var(--mainLighter);
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 6px;
  font-weight: 700;
  outline: none !important;
  font-size: 15px;
}
.top-actions > #deleteThisAlbum:hover {
  color: white !important ;
  background-color: red;
  transition-duration: 0.3s;
}
.top-actions > #renameThisAlbum {
  color: white !important;
  border: none !important;
  background-color: var(--mainLighter);
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 6px;
  font-weight: 700;
  outline: none !important;
  font-size: 15px;
}
.top-actions > #renameThisAlbum:hover {
  color: white !important ;
  background-color: var(--accent);
  transition-duration: 0.3s;
}
.album-content > h3 {
  margin: 0px;
}
.album-content > p {
  margin: 0;
  color: var(--grayText);
  font-size: 13px;
}
.album-actions {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.album-actions > button > span {
  font-size: 20px;
  color: var(--accent)
}
.album-actions > button {
  width: 95%;
  margin: 10px 0px 5px 0px;
  cursor: pointer;
  background-color: var(--mainLighter);
  border-radius: 5px;
  outline: none;
  border: solid var(--mainLighter) 2px;
}
