img-preview {
  display: flex;
  flex-direction: column;
  border: solid blue 1px;
  height: 250px;
  min-width: 250px;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
  position: relative;
}
img {
  width: 250px;
  height: auto;
}
img-preview:hover > .actions {
  transform: translateY(0);
  transition-duration: 0.3s;
}
.actions {
  padding: 5px;
  position: absolute;
  top: 60%;
  width: 100%;
  transform: translateY(450px);
}
.actions > button {
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none !important;
  margin: 5px;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 5px #00000077);
}
.actions > button > span {
  font-size: 20px;
}
#action-rename {
  background-color: var(--accent);
}
#action-delete {
  background-color: red;
}
#action-set-album {
  background-color: var(--accent);
}
.rename-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.rename-area > button {
  outline: none;
  border: solid var(--mainColor) 1px;
  color: white;
  background-color: var(--mainColor);
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}
.rename-area > input {
  outline: none;
  border: solid white 1px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px;;
}
