leftmenu-wrapper {
  display: block;
  grid-area: leftmenu;
}
leftmenu-wrapper > .inner > ul > li {
  list-style: none !important;
}
.inner > ul {
  padding: 0;
  margin: 0;
}
.inner > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.inner > ul > li > span {
  font-size: 30px;
  margin: 5px;
}

