topnav-wrapper {
  grid-area: topnav;
}
topnav-wrapper > .topnav { 
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 50px;
}

.topnav > .left > h2 {
  color: white;
}
.topnav > .date {
  width: 100%;
  text-align: end;
  padding-right: 15px;
}
.topnav > .date > p{
  color: white;
}
.topnav > .user > span{
  color: white;
  font-size: 25px;
  cursor: pointer;
}