body {
  position: relative;
}
.allImagesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/* Image-element component */
.image-box-wrapper {
  position: relative;
}
.image-box-wrapper > .image-src {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
}
.image-box-wrapper > .image-src > img {
  height: 250px;
  width: auto;
}
.image-box-wrapper > #btn_edit {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-box-wrapper:hover > #btn_edit {
  display: block;
}

.image-actions {
 display: none;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 9999;
 padding: 15px;
 border-radius: 10px;
 background-color: black;
 text-align: center;
}
.name-desc{
  text-align: left;
}
.action-input {
  margin-bottom: 10px;
}
.action-input > p {
  margin: 0 0 5px 0;
}
.action-input > input {
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: solid white 1px;
}
#image_description {
  resize: none;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: solid white 1px;
  width: 450px;
  font-family: 'Open Sans', sans-serif;
}
