#dropzone-upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px
  
}
.upload-dropzone {
  border: dotted var(--accent) 2px;
  border-radius:  5px;
  margin: auto;
  cursor: pointer;
  height: 50%;
  width: 90%;
  position: relative;
}
.upload-dropzone:hover {
  border-style: solid;
}
.guide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.uploader {
  margin: 10px;
  text-align: center;

}
.uploaded {
  text-align: center;
  height: auto;
  padding: 10px;
}

.uploaded > p {
  color: var(--grayText);
  margin: 0;
}