#dropzone-upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px
  
}
.upload-dropzone {
  border: dotted var(--accent) 2px;
  border-radius:  5px;
  margin: auto;
  cursor: pointer;
  height: 50%;
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-dropzone:hover {
  border-style: solid;
}

.uploader {
  margin: 10px;
  text-align: center;

}
.uploaded {
  text-align: center;
  height: auto;
  padding: 10px;
}

.uploaded > p {
  color: var(--grayText);
  margin: 0;
}

.uploaded > .images {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.images > .image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 5px;
}