
.page {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "leftmenu topnav topnav topnav"
    "leftmenu content content content"
    "leftmenu content content content";
  height: 100vh;
}
.content {
  grid-area: content;
  padding: 15px;
}
