
.page {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "leftmenu topnav topnav topnav"
    "leftmenu content content content"
    "leftmenu content content content";
  height: 100vh  !important;
  
}
.content {
  grid-area: content;
  padding: 15px;
  max-height: 100% !important;
}
.quick-info {
  display: flex;
  gap: 10px
}
.content-box {
  width: 200px;
  border-radius: 10px;
  border: solid transparent 1px;
  background-color: var(--mainColor);
  padding: 10px;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.box-wrapper > h3 {
  margin: 0 0 10px 0;
  font-size: 25px;
}
.box-wrapper > p {
  margin: 0;
}
.most-liked {
  margin: 10px;
}
.most-liked > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.image-wrapper {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.image-wrapper > img {
  height: 100px;
  width: auto;
}
