/*! CORE CSS !*/

/*! IMPORTS !*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*! IMPORTS END !*/

/*! GLOBALS !*/
:root {
  --mainColor: #131217;
  --mainLighter: #272727; 
  --backg: #1b1b1b;

  --accent: #1583fe;

  --grayText: #cfcfcf;
}
body {
  background-color: var(--backg);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  cursor: pointer;
  font-family: "Robot", sans-serif;
  color: white;
}
p {
  font-family: "Open Sans", sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0 !important;
  color: white
}
/*! Card Like elements !*/

/*! Card Like elements end !*/

/*! Fancy buttons !*/
.fancy-btn {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: solid var(--mainLighter) 2px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  padding: 8px 15px;
  background: var(--mainLighter);
  font-family: "Roboto", sans-serif;
  outline: none !important;
}

.fancy-btn:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: white;
}
/*! Fancy buttons end !*/
/*! GLOBALS END!*/

/*! MEDIA QUERIES !*/
@media only screen and (max-width: 1024px) {
  * {
    display: none !important;
  }
}
/*! MEDIA QUERIES END !*/


/* Blurring background when any pop-up appears */
.blurred {
  filter: blur(5px) !important;
}