.settings {
  margin: 15px;
}
.settings-input {
  display: flex;
}
.settings-input > input {
  width: 50px;
  height: auto;
  outline: none;
  border-radius: 5px;
  border: solid black 1px;
  margin: 0px 5px 0px 5px;
  text-align: center;
}
/* Hide arrows - Webkit */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Hide arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#submitInterval {
  margin-left: 10px;
}
.fetched-images-wrapper {
  padding: 15px;
  text-align: center;
  max-height: 75%;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: initial;

  overflow-y: scroll;
}
.fetched-images-wrapper::-webkit-scrollbar {
  display: none;
}
.fetched-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  border: solid var(--backg) 2px;
}
.fetched-image > img {
  width: auto;
  height: 200px;
  cursor: pointer;
}
.fetched-image > img:hover {
  filter: brightness(1.3);
}
.image-selected {
  border: solid var(--accent) 2px;
}
