body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Open Sans", sans-serif;
}

image-gallery {
  overflow: hidden;
}

.gallery > .thumbnail {
  cursor: pointer;
  text-align: center;
}
.gallery > .thumbnail > #thumbnail-img {
  max-height: 70vh;
  width: auto;
}
.gallery-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 1;
  color: white;
}
.gallery-controls {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.gallery-controls > .name {
  justify-self: center;
}
#close-modal {
  font-size: 3rem;
  line-height: 15px;
  cursor: pointer;
}
#close-modal:hover {
  color: #8b8b8b;
}

.navigation::after{ 
  font-size: 20px !important;
  color: white;
}
.swiper-slide {
  height: 100vh !important;
}

.swiper-slide > .swiper-img {
  text-align: center;
}
.swiper-slide > .swiper-img > img {
  height: 85vh;
}
.swiper-slide > .metadata {
  display: flex;
  flex-direction: column;
  transition-duration: 0.3s;
  align-items: center;
  background-color: black;
  max-height: 100vh;
  overflow-y: scroll;
}
.swiper-slide > .metadata > #popup-toggle {
  cursor: pointer;
  
  transform: rotate(360deg);
  text-orientation: sideways-right;
  
  font-size: 2rem;
  align-self: center;
}

.metadata > .text-content {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
}
p:hover {
  color: white;
}

#popup-toggle:hover {
  color: #8b8b8b;
}
/* Utility classes */
.open {
  display: block;
}
.modal-open { 
  transform: translateY(-100%);
}
.toggle-rotated {
  transform: rotate(180deg) !important;
}
