/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

menu-wrapper {
  display: block;
  width: 230px;
}
.menu-content {
  width: max-content;
}
.menu-content > ul > li {
  list-style: none;
}
.menulink {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #6e6e6e !important;
  font-size: 17px;
  transition-duration: 0.3s;
}
.menulink:hover {
  color: black !important;
}
#langEN {
  margin-top: 50px;
}

.menu-list > .collections > li > a,
p:hover {
  color: black;
}
#sliderMenu {
  height: 75%;
  width: 75%;
}
#sliderMenu > .menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sliderMenu > .menu-content > ul {
  text-align: center;
}
#sliderMenu > .menu-content > ul > li {
  width: 100%;
}
#sliderMenu .menulink {
  color: white !important;
}
.collections {
  transition-duration: 1s;
  padding-left: 10px;
  animation-name: show;
}
.hidden {
  opacity: 0;
  display: none;
}
@media only screen and (max-width: 768px) {
  menu-wrapper {
    display: none;
  }
}
