navbar-wrapper {
  height: 70px;
  background-color: black;
  padding: 0px 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex

}

navbar-wrapper > div > a > img {
  height: 50px;
  cursor: pointer
}
#burger {
  display: none;
  
  width: 35px;
}
#burger > span {
  height: 2px;
  display: block;
  width: 100%;
  background-color: white !important;
  transition-duration: 0.3s;
}
#midline {
  margin: 7px 0px 7px 0px;
}
.open > #midline {
  background-color: black !important;
}
.open > #right {
  position: relative;
  transform: translateY(9px) rotate(-45deg);
}
.open > #left {
  transform: translateY(-9px) rotate(45deg);
}

#sliderMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  display: none;
}
.slider-shown {
  display: block !important;
}
/*! NAVBAR MEDIA QUERIES !*/
@media only screen and (max-width: 576px) {
 
  navbar-wrapper > img {
    height: 40px
  }
}
@media only screen and (max-width: 768px) {
  navbar-wrapper {
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  #burger {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  #sliderMenu {
    display: none !important;
  }
}
/*! NAVBAR MEDIA QUERIES END !*/