preloader-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: white !important;
}
.preload-player {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}