menu-wrapper {
  display: block;
  grid-area: menu;
}
.menu-content > ul > li {
  list-style: none;
}
.menu-content > ul > li > a {
  color: #6e6e6e;
  font-size: 17px;
  transition-duration: 0.3s;
}
.menu-content > ul > li > a:hover {
  color: black;
}
#langEN {
  margin-top: 50px;
}
