@import "../_variables.scss";

.collection-item {
  .collection-preview-image {
    width: 225px;
    height: 225px;
    overflow: hidden;
    border-radius: 5px;
    #img {
      height: 225px;
      background-color: $white;
      cursor: pointer;
      transition-duration: 0.3s;
    }
    &:hover {
      #img {
        height: 240px;
      }
    }
  }
  .collection-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .data {
      display: flex;
      flex-direction: column;
      font-family: $openSans-light;
      padding: 10px 0px 0px 5px;
      #name {
        font-weight: 700;
      }
      #total {
        font-size: 0.95rem;
      }
    }
    .controls {
      #delete {
        background-color: $primary-background-darker;
        outline: none;
        cursor: pointer;
        border: solid $primary-background-darker 1px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 50px;
        color: $white;
        &:hover {
          color: $red;
        }
        &:active {
          background-color: $primary-background;
          border: solid $primary-background 1px;
        }
      }
    }
  }
}
