@import "../_variables.scss";

.image-preview {
  background-color: $primary-background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  #delete-local-image {
    position: absolute;
    transform: translateY(150px);
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: $openSans-light;
    @include delete-btn;
  }
  img {
    height: auto;
    width: 400px;
  }
  &:hover {
    #delete-local-image {
      transform: translateY(0);
    }
  }
}
