@import "../_variables";

.topbar {
  background-color: $primary-background-darker;
  display: flex;
  justify-content: right  ;
  align-items: center;
  padding:10px 15px;
  gap: 15px;
  color: $white;
  font-family: $openSans-light;
  
  .user-area {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}