@import "../_variables.scss";

.collections {
  color: $white;
  font-family: $openSans-light;
  .all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    align-items: center;
  }
}