@import "../_variables";

#login-page {
  background-color: $primary-background;
  height: 100vh;
  text-align: center;
  form {
    width: 375px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .inputs {
      display: flex;
      flex-direction: column;
    }
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
      margin-right: 15px;
      font-family: $openSans-light;
      color: $white;
      input {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $white;
        border: solid $white 1px;
        outline: none;
      }
    }
    button {
     @include classic-btn;
      margin-top: 15px;
    }
  }
}
