@import "../_variables.scss";

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0px 10vw;
  padding: 15px;
  border-radius: 10px;
  background-color: $primary-background;
  font-family: $openSans-light;
  h3 {
    align-self: flex-start;
    color: $white;
    margin-bottom: 25px;
    font-weight: 600;
  }
  .imagelist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .dataset {
      width: calc(100% / 4);
      padding: 15px 10px;
    }
    .head {
      display: flex;
      border-bottom: solid $primary-gray 1px;
      .dataset {
        span {
          color: $primary-gray;
          font-weight: 400;
        }
      }
    }
    a {
      text-decoration: none;
      .picture-list-item {
        display: flex;
        .dataset {
          color: $white;
          .icon {
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
              padding: 10px;
              border-radius: 5px;
              background-color: $primary-background-darker;
              color: $primary-blue;
            }
          }
          #likes {
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
              color: $primary-blue;
            }
          }
          }
        &:hover {
          background-color: $primary-background-darker;
          border-radius: 5px;
        }
      }
    }
  }
}
