@import "../_variables.scss";

.appContainer {
  display: flex;
  background-color: $primary-background-darker;
  flex-wrap: nowrap;
  .appcontent {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    .wrapper {
      padding: 10px;
    }
  }
}