@import "../_variables.scss";

.appContainer {
  display: flex;
  background-color: $primary-background-darker;
  flex-wrap: nowrap;
  .content {
    width: 100%;
    .wrapper {
      padding: 10px;
    }
  }
}