
.maininfo {
  margin-bottom: 15px;
}
.bio-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  height: fit-content;
}
.portrait {
  height: 100% !important;
}
.history {
}
.portrait > img {
  height: auto;
  width: 100%;
}
.autograph {
  text-align: center;
}
.history > p {
  text-align: justify;
}
