// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$openSans-light: "Open Sans", sans-serif;
// Colors
$primary-background: #2E3440;
$primary-background-darker: #20252e;
$primary-blue: #5E81AC;
$white: #ECEFF4;
$black: #000;


